body {
color: white;
font-family: 'Work Sans', sans-serif;
text-align: center;
}
.logo {
    margin-top: 275px;
}
.info {
    margin-top: 50px;
}
.tabs {
    color: white;
    margin-top: 400px;
    background-color: rgb(247, 150, 70);
    padding: 1px;
}
.tabs a {
    padding: 10px;
    display: inline;
    border-left: 1px solid rgb(250, 192, 144);
    border-right: 1px solid rgb(250, 192, 144);
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}
.tabs span {
    color: rgb(1, 255, 174);
    padding-top: 20px;
    padding-bottom: 20px;
}
.content {
    background-color: rgb(228, 108, 10);
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 50px;
}
.content a {
    color: white;
}
